/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Montserrat', sans-serif; */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
	margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

/* ##################### */
:root {
	--light-theme: #efe7df;
	--dark-theme: #101820;
	--orange-theme: #fd6c02;
	--title-font: "Bebas Neue", sans-serif;
	--body-font: "Montserrat", sans-serif;
	--font-size-title: 32px;
	--font-size-body: 16px;
}

body {
	background-color: var(--dark-theme);
	overflow-x: hidden;
}
.feed-div {
	display: none;
	background-color: var(--dark-theme);
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-inline: 1rem;
	padding-block: 1rem;
	background-color: #0b10168e;
	border-bottom: rgba(210, 210, 210, 0.336) 1px solid;
	flex-direction: row;
	z-index: 9999;
}

.landing-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--light-theme);
	height: 100vh;
	font-family: var(--title-font);
	gap: 3rem;
}

.landing-div :nth-child(3) {
	margin-bottom: 10rem;
	width: 200px;
	height: 50px;
	font-size: 24px;
}

.landing-div :nth-child(4) {
	width: 100vw;
	bottom: 0px;
	height: 250px;
	align-items: center;
	justify-content: center;
	position: absolute;
	background-color: var(--dark-theme);
	display: flex;
	padding-bottom: 2rem;
}

.landing-div :nth-child(4) > button {
	color: white;
	border-color: transparent;
	background-color: var(--orange-theme);
	border-radius: 10px;
	width: 180px;
	height: 60px;
	font-size: var(--font-size-title);
}
.search-div {
	margin-top: -2rem;
}
/* .landing-top{
    all: 
} */
.feed--logo {
	height: 50px;
	width: 50px;
}

.feed--home-icon {
	height: 40px;
	width: 40px;
}

.feed--home-icon > g > g > path {
	height: 66px;
}

.feed--header-text {
	width: 200px;
}

.feed {
	padding-top: 8rem;
	color: var(--orange-theme);
	overflow-x: hidden;
}

.card {
	background-color: var(--light-theme);
	width: 90vw;
	margin-bottom: 2.5rem;
	margin-top: -1.5rem;
}

.card-body {
	padding-inline: 0;
	display: flex;
	flex-direction: column;
}

.card-img-top {
	padding-top: 1rem;
}

.card-title {
	font-family: var(--title-font);
	font-size: var(--font-size-title);
	color: var(--dark-theme);
}

.card-text {
	font-family: var(--body-font);
	font-size: var(--font-size-body);
	color: var(--dark-theme);
}

.btn {
	background-color: var(--orange-theme);
	border-color: var(--orange-theme);
	font-family: var(--body-font);
	color: var(--light-theme);
	display: flex;
	width: 50%;
	align-self: center;
	justify-self: center;
	justify-content: center;
}

@media (min-width: 750px) {
	.feed {
		display: grid;
		grid-template-columns: 1fr 1fr;
		zoom: 45%;
		padding-top: 15rem;
	}

	.card-title {
		font-size: 5rem;
	}

	.card-text {
		font-size: 2rem;
		padding-bottom: 1rem;
	}

	.btn {
		font-size: 2rem;
		padding-bottom: 1rem;
	}
}

@media (max-height: 800px) {
	.landing-div :nth-child(4) {
		width: 100vw;
		bottom: 0px;
		height: 150px;
		align-items: center;
		justify-content: center;
		position: absolute;
		background-color: var(--dark-theme);
		display: flex;
		padding-bottom: 2rem;
	}
}
